
/********************* GLOBAL *********************/

* { 
  box-sizing: border-box;
}

.clearfix::after {
  content: " ";
	display: table;
	clear: both;
}

/*removes all default css*/
select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
}



/********************* BASICS *********************/

body {
	width: 100%;
	height: 100%;
	background: #fff;
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	margin: 0 auto;
	background-color: #9ba197
}

p {
	font-size: 1em;
	color: #333;
	line-height: 1.5em;
	margin: 25px 0 0;
}

a {
	text-decoration: none;
	color: #9ba197;
	cursor: pointer;
}

a:hover,
button:hover {
	cursor: pointer;
}

ul {
	margin: auto 0;
	padding-left: 0;
}

li {
	list-style: none;
	text-align: center;
	margin:  40px 0;
	font-size: 1.3em;
}

span {
	color: #777;
}

label {
	color: #999;
	display: inline-block;
	text-align: left;
	width: 20%;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
	background: #444;
}

input:placeholder-shown {
	text-align: left;
	color: #aaa;
}

button {
	background: #9ba197;
	padding: 19px 39px 18px;
	color: #FFF;
	text-align: center;
	border-radius: 5px;
		-webkit-border-radius: 0 2px 5px #aaa;
	-moz-border-radius: 0 2px 5px #aaa;
	width: 80%;
	margin: 25px auto;
	border-style: none;
	display: block;
	cursor: pointer;
	outline: none;
 }

 select {
	cursor: pointer;
	/*added new arrows since removed all default css*/
	background-image: url(../images/arrows.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 20px;
}

label {
	margin-left: 10%;
	display: inline-block;
}



/***************** COMMON STYLING *****************/

#work,
#contact {
	margin-bottom: 30px;
}

.work-h1,
.contact-h1 {
	margin: 0 auto;
	display: block;
	padding: 30px 0;
	height: 110px;
}

.work-h1 {
	padding: 30px 0 20px;
}

.about-h1 {
	display: none;
}

#work-anchor,
#contact-anchor {
	background-color: #564853;
	box-shadow: 0px 2px 3px 1px #aaa; /*horiz offset, vertical offset, blur, spread*/
		-webkit-box-shadow: 0px 2px 3px 1px #aaa;
		-moz-box-shadow: 0px 2px 3px 1px #aaa;
}



/********************* HEADER *********************/

.logo {
	display: flex;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 45px;
	height: 250px;
}


/********************* NAV *********************/

#nav-bkg {
	background: url("Paper-bkg.jpg") center repeat;
}

.main-nav {
	border-top: 4px solid #49553f;
	list-style: none;
	line-height: 2em;
	padding: 75px 0 0;
	height: 432px;
	background: url("flower-lower-opacity.png") center no-repeat;
	box-shadow: 0px 0px 35px 15px #ddd inset; /*horiz offset, vertical offset, blur, spread*/
		-webkit-box-shadow: 0px 0px 35px 15px #ddd inset;
		-moz-box-shadow: 0px 0px 35px 15px #ddd inset;
}

.main-nav a {
	color: #555;
}

.welcome {
	display: none;
}


/********************* ABOUT *********************/

#about {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; /*fits image inside html div*/
	background-color: #bcb3bb;
	padding-bottom: 40px;
}

.me {
	position: relative; /*moves image behind paragraph*/
	max-width: 450px;
	margin-top: 50px;
}

.about-title {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #eeeded;
	background-color: #564853;
	border-radius: 20px 20px 0 0;
		-webkit-border-radius: 20px 20px 0 0;
		-moz-border-radius: 20px 20px 0 0;
	box-shadow: 0px 2px 3px 1px #aaa; /*horiz offset, vertical offset, blur, spread*/
		-webkit-box-shadow: 0px 2px 3px 1px #aaa;
		-moz-box-shadow: 0px 2px 3px 1px #aaa;
}

.about-paragraph {
	position: absolute; /*moves image behind paragraph*/
	top: 765px;
	background-color: #fff;
	text-align: center;
	max-width: 325px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
	padding: 0 0 25px;
}

.about-paragraph p {
	padding: 0 25px;
	font-size: 1em;
	text-align: justify;
}



/********************* WORK *********************/

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

#web-design-head {
	background-color: #564853;
	box-shadow: 0px 2px 3px 1px #aaa; /*horiz offset, vertical offset, blur, spread*/
		-webkit-box-shadow: 0px 2px 3px 1px #aaa;
		-moz-box-shadow: 0px 2px 3px 1px #aaa;
}

#work p {
	margin: 0 15px;
	text-align: center;
}

#work {
	margin: 0;
}

.wrap {
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	margin: 7% 7% 40px;
}

#lightGallery,
#web-design {
	margin: 40px 0 15px;
	box-shadow: 
}

#lightGallery p {
	text-align: center;
}

#lightGallery img,
#web-design img {
	width: 40%;
	height: 40%;
	margin-left: 6.25%;
	margin-bottom: 6%;
	display: inline-block;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
}

#lightGallery img {
	vertical-align: middle;
}

#web-design img {
	display: block;
	width: 50%;
	height: 50%;
	margin: 0 auto;
	box-shadow: 0 2px 3px #aaa;
		-webkit-box-shadow: 0 2px 3px #aaa;
		-moz-box-shadow: 0 2px 3px #aaa;
}

.imgDesc {
	text-align: center;
	margin-top: 20px;
}



/********************* CONTACT *********************/

#contact-bkg {
	background: url("Paper-bkg.jpg") center repeat;
	box-shadow: 0px 0px 35px 15px #ddd inset; /*horiz offset, vertical offset, blur, spread*/
		-webkit-box-shadow: 0px 0px 35px 15px #ddd inset;
		-moz-box-shadow: 0px 0px 35px 15px #ddd inset;
}

#contact {
	margin: 0 auto;
}

#contact p {
	padding: 30px 35px;
	margin-top: 0;
	text-align: center;
}

#contact a {
	color: #444;
}

#contact ul li {
	font-size: .95em;
	margin: 0;
	padding: 35px 0;
}

.linkedin-logo {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}

.email {
	padding: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select {
 border: none;
 height: auto;
 padding: 15px;
 width: 80%;
 background-color: #e8eeef;
 color: #444;
 margin: 8px auto 15px;
 border-radius: 5px;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 outline: none;
 display: block;
}

input[type="text"] {
	margin-top: 25px;
}

input:focus {
 background: #cdd4d4;
 transition-property: background-color;
 transition-duration: 1.5s;
 transition-timing-function: ease;
}

#message {
	display: block;
}


/********************* FOOTER *********************/

footer {
	padding-bottom: 80px;
	padding-top: 20px;
	text-align: center;
	background-color: #d1d3d4;
}

footer a {
	color: #414042;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

header {
	border: none;
}

p {
	font-size: 1.25em;
}

fieldset {
font-size: 1.25em;
border-radius: 20px;
}



/********************* HEADER MEDIA *********************/

#top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo {
  	/* content: url("header_tablet.svg"); /* replaces header image */
  	width: 350px;
  	margin: 40px auto;
  	padding: 0;
 }

.welcome {
	display: block;
	margin: 0 auto;
}

.main-nav {
	padding-top: 40px;
	height: 696px;
	background: none;
	box-shadow: 0px 0px 35px 20px #ddd inset; /*horiz offset, vertical offset, blur, spread*/
		-webkit-box-shadow: 0px 0px 35px 20px #ddd inset;
		-moz-box-shadow: 0px 0px 35px 20px #ddd inset;
}

.main-nav li {
	margin: 0 auto;
	padding-top: 25px;
	height: 80px;
	width: 80px; /* if hover over a nav list item, it won't push the other list items left */
}

.main-nav a:hover:after {
	cursor: pointer;
	position: relative;
	content: url("hover_image.png");
	top: -15px;
	width: 100%;
}



/********************* ABOUT MEDIA *********************/

#about {
	padding: 0;
	background-color: #fff;
}

#about-anchor {
	background-color: #564853;
	margin-bottom: 30px;
	box-shadow: 0px 2px 3px 1px #aaa; /*horiz offset, vertical offset, blur, spread*/
		-webkit-box-shadow: 0px 2px 3px 1px #aaa;
		-moz-box-shadow: 0px 2px 3px 1px #aaa;
}

.about-title {
	display: none;
}

.about-h1 {
	display: block;
	margin: 0 auto;
	padding: 30px 0;
}

.me {
	margin-top: 0;
	box-shadow: 0 3px 4px 4px #aaa;
		-webkit-box-shadow: 0 3px 4px 4px #aaa;
		-moz-box-shadow: 0 3px 4px 4px #aaa;
}

.about-paragraph {
	position: static;
	text-align: center;
	margin: 0 auto;
	max-width: 80%;
	margin-bottom: 20px;
}

.about-paragraph p {
	min-width: 340px;
	padding: 0 40px;
	font-size: 1.25em;
}


/********************* WORK MEDIA *********************/

#work-anchor {
	margin-top: 30px;
}

.work-h1 {
	padding: 25px 0 20px;
}

#work p {
	margin: 0;
	padding: 25px 20px;
	color: #fff;
	border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
}

#lightGallery {
	text-align: center;
}


#lightGallery,
#web-design {
	text-align: center;
}

#lightGallery img {
	padding: 20px;
}

#lightGallery img,
.wrap {
	width: 30%;
	height: 30%;
	margin: 0;
}

#web-design,
#lightGallery {
	margin: 20px 0 30px;
}

#web-design img {
	height: 100%;
	width: 100%;
	margin: 20px 0;
}

.wrap {
	position: relative;
	display: inline-block;
	background: none;
	padding: 10px 20px 0;
}

.imgDesc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	margin-top: 25%;
	padding: 0 25px;
}


.wrap:hover .imgDesc {
	visibility: visible;
	opacity: 1;
}

span {
	color: #222;
}



/********************* CONTACT MEDIA *********************/

#msgForm {
	border-radius: 20px;
}

#contact-bkg {
	box-shadow: 0px 0px 35px 20px #ddd inset; /*horiz offset, vertical offset, blur, spread*/
		-webkit-box-shadow: 0px 0px 35px 20px #ddd inset;
		-moz-box-shadow: 0px 0px 35px 20px #ddd inset;
}

.contact-h1 {
	padding: 30px 0 25px;
}

#contact {
	max-width: 70%;
	margin: 0 auto;
}

#contact p {
	padding: 50px;
}

.top-link {
	font-size: 1.2em;
}


}



@media (min-width: 1024px) {


.h2-heading {
	margin-left: 160px;
}

#web-design,
#lightGallery {
	margin-left: 10%;
	margin-right: 10%;
	padding: 15px 15px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
}




}
























