
/********************* GLOBAL *********************/

* { 
  box-sizing: border-box;
}

.clearfix::after {
  content: " ";
	display: table;
	clear: both;
}

/*removes all default css*/
select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
}



/********************* BASICS *********************/

body {
	width: 100%;
	height: 100%;
	background: #fff;
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	margin: 0 auto;
	background-color: #9ba197
}

p {
	font-size: 1em;
	color: #333;
	line-height: 1.5em;
	margin: 25px 0 0;
}

a {
	text-decoration: none;
}

a:hover,
button:hover {
	cursor: pointer;
}

ul {
	margin: auto 0;
	padding-left: 0;
}

li {
	list-style: none;
	text-align: center;
	margin:  40px 0;
	font-size: 1.25em;
}

span {
	color: #777;
}

label {
 color: #999;
 display: inline-block;
 text-align: left;
 width: 20%;
}

fieldset {
 border: none;
 padding: 0;
 margin: 0;
 background: #444;
}

input:placeholder-shown {
 text-align: left;
 color: #aaa;
}

button {
 background: #9ba197;
 padding: 19px 39px 18px;
 color: #FFF;
 text-align: center;
 border-radius: 5px;
 	-webkit-border-radius: 0 2px 5px #aaa;
	-moz-border-radius: 0 2px 5px #aaa;
 width: 80%;
 margin: 25px auto;
 border-style: none;
 display: block;
 cursor: pointer;
 outline: none;
 }

 select {
 cursor: pointer;
 /*added new arrows since removed all default css*/
 background-image: url(../images/arrows.svg);
 background-repeat: no-repeat;
 background-position: right center;
 background-size: 20px;
}

label {
 margin-left: 10%;
 display: inline-block;
}



/***************** COMMON STYLING *****************/

#about,
#work,
#contact {
	margin-bottom: 30px;
}

.work-h1,
.contact-h1 {
	margin: 0 auto;
	display: block;
	padding: 35px 0;
	height: 150px;
}

#work-anchor,
#contact-anchor {
	background-color: #a1979f;
	box-shadow: 0px 3px 4px #777;
		-webkit-box-shadow: 0px 3px 4px #555;
		-moz-box-shadow: 0px 3px 4px #555;
}



/********************* HEADER *********************/

.logo {
	display: flex;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 45px;
	height: 250px;
}


/********************* NAV *********************/

.main-nav {
	border-top: 4px solid #49553f;
	list-style: none;
	background: url("flower-with-bkg.jpg") center;
	background-size: 135%;
	line-height: 2em;
	padding: 80px 0 0;
	height: 432px;
}

.main-nav a {
	color: #555;
}

.main-nav ul li {
	font-size: 1em;
}




/********************* ABOUT *********************/

#about {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; /*fits image inside html div*/
}

.me {
	position: relative; /*moves image behind paragraph*/
	max-width: 450px;
}

.about-title {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #eeeded;
	background-color: #a1979f;
	border-radius: 20px 20px 0 0;
		-webkit-border-radius: 20px 20px 0 0;
		-moz-border-radius: 20px 20px 0 0;
}

.about-paragraph {
	position: absolute; /*moves image behind paragraph*/
	top: 700px;
	background-color: #eeeded;
	text-align: center;
	max-width: 325px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
	padding: 0 0 25px;
	box-shadow: 0px 0px 7px #555;
		-webkit-box-shadow: 0px 0px 7px #555;
		-moz-box-shadow: 0px 0px 7px #555;
}

.about-paragraph p {
	padding: 0 25px;
}



/********************* WORK *********************/

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

#web-design-head {
	background-color: #a1979f;
	box-shadow: 0px 3px 4px #777;
		-webkit-box-shadow: 0px 3px 4px #555;
		-moz-box-shadow: 0px 3px 4px #555;
}

#work p {
	margin: 0 15px;
	text-align: center;
}

#work {
	margin: 0;
}

.wrap {
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	margin: 7% 7% 40px;
}

#lightGallery,
#web-design {
	margin: 40px 0 15px;
	box-shadow: 
}

#lightGallery p {
	text-align: center;
}

#lightGallery img,
#web-design img {
	width: 40%;
	height: 40%;
	margin-left: 6.25%;
	margin-bottom: 6%;
	display: inline-block;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
}

#lightGallery img {
	vertical-align: middle;
}

#web-design img {
	display: block;
	width: 50%;
	height: 50%;
	margin: 0 auto;
	box-shadow: 0 2px 5px #aaa;
		-webkit-box-shadow: 0 2px 5px #aaa;
		-moz-box-shadow: 0 2px 5px #aaa;
}

.imgDesc {
	text-align: center;
	margin-top: 20px;
}



/********************* CONTACT *********************/

#contact {
	margin: 0 auto;
}

.contact-h1 {
	height: 130px;
}

#contact p {
	padding: 30px 35px;
	margin-top: 0;
	text-align: center;
	background: url("watercolor-paper-horiz.jpg") center no-repeat;
}

#contact a {
	color: #444;
}

#contact ul li {
	font-size: .95em;
	background: url("watercolor-paper-horiz.jpg") center no-repeat;
	margin: 0;
	padding: 35px 0;
}

.linkedin-logo {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}

.email {
	padding: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select {
 border: none;
 font-size: 16px;
 height: auto;
 padding: 15px;
 width: 80%;
 background-color: #e8eeef;
 color: #444;
 margin: 8px auto 15px;
 border-radius: 5px;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 outline: none;
 display: block;
}

input[type="text"] {
	margin-top: 25px;
}

input:focus {
 background: #cdd4d4;
 transition-property: background-color;
 transition-duration: 1.5s;
 transition-timing-function: ease;
}

#message {
	display: block;
}



/********************* FOOTER *********************/

footer {
	padding-bottom: 80px;
	padding-top: 20px;
	text-align: center;
	background-color: #d1d3d4;
}

footer a {
	color: #414042;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

header {
	border: none;
}



/********************* HEADER MEDIA *********************/

#top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -2px;
}

.logo {
  	/* content: url("header_tablet.svg"); /* replaces header image */
  	padding-top: 0;
  	margin: 30px 0 90px 4%;
  	width: 300px;
 }

.main-nav {
	background: url("flower.png");
	border: none;
	margin: 0 4% 0 0;
	padding: 0;
	display: flex;
}

.main-nav li {
	padding-top: 25px;
	width: 80px; /* if hover over a nav list item, it won't push the other list items left */
}

.main-nav a {
	font-size: 1.1em;
}

.main-nav a:hover:after {
	cursor: pointer;
	position: relative;
	content: url("hover_image.png");
	top: -15px;
	width: 100%;
	height: auto;
}



/********************* ABOUT MEDIA *********************/

#about {
	padding: 0;
	margin-bottom: 30px;
	background: url(about_bkg_tablet.jpg) no-repeat right;
	background-size: 30%;
	justify-content: left;
	align-items: left;
}

.me {
	position: static;
	margin: 30px 0 0 -5px;
	max-width: 350px;
}

.about-title {
	font-size: 1.75em;
	text-align: left;
	margin: 0;
	padding: 0 0 5px 0;
	border-bottom: solid 1px gray;
}

.about-paragraph {
	position: static;
	padding: 50px  0 20px 30px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0);
	margin: 0;
	max-width: 35%;
}




/********************* WORK MEDIA *********************/

#work p {
	margin: 0;
	padding: 25px 20px;
	color: #fff;
	border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
}

#lightGallery {
	text-align: center;
}


#lightGallery,
#web-design {
	text-align: center;
}

#lightGallery img {
	padding: 20px;
}

#lightGallery img,
.wrap {
	width: 30%;
	height: 30%;
	margin: 0;
}

#web-design img {
	height: 100%;
	width: 100%;
	margin: 20px 0;
}

.wrap {
	position: relative;
	display: inline-block;
	background: none;
	padding: 10px 20px 0;
}

.imgDesc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	margin-top: 25%;
	padding: 0 25px;
}


.wrap:hover .imgDesc {
	visibility: visible;
	opacity: 1;
}

span {
	color: #222;
}



/********************* CONTACT MEDIA *********************/

#msgForm {
	border-radius: 20px;
}

#contact {
	max-width: 70%;
	margin: 0 auto;
}

#contact p {
	padding: 20px;
}



}



@media (min-width: 1024px) {


.h2-heading {
	margin-left: 160px;
}

#web-design,
#lightGallery {
	margin-left: 10%;
	margin-right: 10%;
	padding: 15px 15px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
}




}
























